<div class="mt-4">
    <h2>Đăng khóa học</h2>
    <form method="POST" action="/course/store">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Nhập tên khóa học">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" name="description" id="description" placeholder="Nhập tên khóa học">
        </div>
        <div class="form-group">
            <label for="videoID">Video</label>
            <input type="text" class="form-control" name="videoID" id="videoID" placeholder="Nhập tên khóa học">
        </div>
        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>